<dialog hx-on::after-request="
    if (event.detail.successful) {
        this.remove()
    }">
    <h3>New {{.ModelName}}</h3>

    <form hx-post="/api/{{.modelName}}" hx-ext="json-enc">
        {{- range .Properties}}
        <label>
            {{.Name}}
            <input type="{{.HTMLType}}" name="{{.Name}}" />
        </label>
        {{- end }}

        <div class="row">
            <button type="submit">Create</button>
            <button type="button" onclick="this.closest('dialog').remove()">Cancel</button>
        </div>
    </form>
</dialog>