<dialog hx-on::after-request="
    if (event.detail.successful) {
        this.remove()
    }">
    <h3>Update {{.ModelName}} {{"{{"}} .ID {{"}}"}}</h3>

    <form hx-put="/api/{{.modelName}}/{{"{{"}} .ID {{"}}"}}" hx-ext="json-enc">
        {{- range .Properties}}
        <label>
            {{.Name}}
            <input type="{{.HTMLType}}" name="{{.Name}}" value="{{"{{"}} .{{ .Name }} {{"}}"}}" />
        </label>
        {{- end }}

        <div class="row">
            <button type="submit">Update</button>
            <button type="button" onclick="this.closest('dialog').remove()">Cancel</button>
        </div>
    </form>
</dialog>