<!-- This file will be updated whenever a new model is added, unless this comment is removed -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .projectName }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />

    <link rel="stylesheet" href="/styles.css" />
    <script src="/htmx-2.0.8.js"></script>
    <script src="/hx-ext-json-enc-2.0.1.js"></script>
</head>

<body>
    <aside>
        <nav hx-boost="true" hx-push-url="true">
            {{- range .NavLinks}}
            <a href="{{.Href}}">{{.Label}}</a>
            {{- end}}
        </nav>
    </aside>

    <main>
        <h2>{{ .projectName }}</h2>
    </main>
</body>

</html>